*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: row;
    background-image: url(images/bg-pattern-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;

}

.content_left{
    width: 50vw;
    /* border:1px solid red; */
    margin:50px 150px;
    

}

.content_right{
    width:50vw;
    height: 100vh;
    background-image: url(images/hero-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* border:1px solid red; */
    
}

.title{
    font-size: 72px;
    font-weight: 600;
    text-transform: uppercase;
    width: 100px;
    padding:100px 0 20px 0;


    line-height: 80px;
    letter-spacing: 15px;


}

.title span{
    font-weight: 300;
    color:hsl(0, 36%, 70%);
}

.description{
    /* border:1px solid red; */
    width:430px ;

    color:hsl(0, 36%, 70%);
    line-height: 30px;
   margin-bottom: 50px;
}

.email{
    display: flex;
    flex-direction: row;
}

.email_box{
    background-color: hsla(0, 36%, 70%, 0.027);
    border:1px solid rgb(206, 206, 206);
    border-radius: 50px;
    width:450px;
    height: 50px;
}

.email_button{
    width:90px;
    height: 50px;
    border-radius: 50px;

    background:linear-gradient(135deg, hsl(0, 80%, 86%) 35%,hsl(0, 74%, 74%) 100%);
    margin-left: -90px;
    box-shadow: 0px 15px 30px rgb(212, 212, 212);

    display: flex;
    align-items: center;
    justify-content: center;
}

.email_button div{
    